<div data-role="view" data-title="View" data-layout="main" data-model="app.collections" data-show="app.collections.onShow" data-after-show="app.collections.afterShow" id="collectionsScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: strings.collections.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
			<a data-role="button" href="components/home/view.html" data-align="right" data-icon="home"></a>
        </div>
    </header>

	<ul data-role="listview" data-selectable="true"> 
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=Signature%20Blends" class="collection" data-transition="none">Signature Blends</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=Nebbia%20Collection" class="collection" data-transition="none">Nebbia Collection</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=Seduction%20Line" class="collection" data-transition="none">Seduction Line</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=The%20Virtu%20Line" class="collection" data-transition="none">The Virtu Line</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=Holiday%20Collection" class="collection" data-transition="none">Holiday Collection</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=Wonderland%20Collection" class="collection" data-transition="none">Wonderland Collection</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=The%20Sweet%20Shoppe" class="collection" data-transition="none">The Sweet Shoppe</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=Divinity%20Collection" class="collection" data-transition="none">Divinity Collection</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=Hyp%20Kng" class="collection" data-transition="none">Hyp Kng</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=Crusher" class="collection" data-transition="none">Crusher</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=#GreatestDrips" class="collection" data-transition="none">#GreatestDrips</a></li>
		<li><a href="components/flavors/view.html?filtertype=collection&filtername=#GetSlammed" class="collection" data-transition="none">#GetSlammed</a></li>
	</ul>

    <!-- START_CUSTOM_CODE_collections -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_collections -->
</div>