<div data-role="view" data-title="View" data-layout="main" data-model="app.collections" data-show="app.collections.onShow" data-after-show="app.collections.afterShow" id="collectionsScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: strings.collections.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
			<a data-role="button" href="components/home/view.html" data-align="right" data-icon="home"></a>
        </div>
    </header>


    <!-- START_CUSTOM_CODE_collections -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_collections -->
</div>