<div data-role="view" data-title="View" data-layout="main" data-model="app.flavorProfiles" data-show="app.flavorProfiles.onShow" data-after-show="app.flavorProfiles.afterShow" id="flavorProfilesScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: strings.flavorProfiles.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
			<a data-role="button" href="components/home/view.html" data-align="right" data-icon="home"></a>
        </div>
    </header>

	<ul data-role="listview" data-selectable="true">
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=bakery" class="profile" data-transition="none">Bakery</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=berries" class="profile" data-transition="none">Berries</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=beverage" class="profile" data-transition="none">Beverage</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=candy" class="profile" data-transition="none">Candy</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=cereal" class="profile" data-transition="none">Cereal</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=chocolate" class="profile" data-transition="none">Chocolate</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=cinnamon" class="profile" data-transition="none">Cinnamon</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=citrus" class="profile" data-transition="none">Citrus</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=cold" class="profile" data-transition="none">Cold</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=cream" class="profile" data-transition="none">Cream</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=fruit" class="profile" data-transition="none">Fruit</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=licorice" class="profile" data-transition="none">Licorice</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=menthol" class="profile" data-transition="none">Menthol</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=tart" class="profile" data-transition="none">Tart</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=tea" class="profile" data-transition="none">Tea</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=tobacco" class="profile" data-transition="none">Tobacco</a></li>
		<li><a href="components/flavors/view.html?filtertype=profile&filtername=tropical" class="profile" data-transition="none">Tropical</a></li>
	</ul>

    <!-- START_CUSTOM_CODE_flavorProfiles -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_flavorProfiles -->
</div>