<div data-role="view" data-title="View" data-layout="main" data-model="app.flavorProfiles" data-show="app.flavorProfiles.onShow" data-after-show="app.flavorProfiles.afterShow" id="flavorProfilesScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: strings.flavorProfiles.title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
			<a data-role="button" href="components/home/view.html" data-align="right" data-icon="home"></a>
        </div>
    </header>

	<ul data-role="listview" data-selectable="true">
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="bakery">Bakery</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="berries">Berries</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="beverage">Beverage</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="candy">Candy</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="cereal">Cereal</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="chocolate">Chocolate</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="cinnamon">Cinnamon</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="citrus">Citrus</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="cold">Cold</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="cream">Cream</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="fruit">Fruit</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="licorice">Licorice</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="menthol">Menthol</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="tart">Tart</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="tea">Tea</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="tobacco">Tobacco</a></li>
		<li><a data-role="button" class="profile" data-transition="none" data-bind="events:{ click: onClick }" data-filtername="tropical">Tropical</a></li>
	</ul>

    <!-- START_CUSTOM_CODE_flavorProfiles -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_flavorProfiles -->
</div>